.body{font-family: Ionicons Arial;}
.c-gris-ocuro{background: #2B292F;}
.f-celeste{background: #E6EFF0;}
.f-blanco{background: #fff;}
.t-blanco{color: #fff;}
.t-gris{color: #333;}
.t-gris-claro{color: #A49696;}
.sin-estilo{margin: 0; padding: 0; list-style: none;}
.texto9{font-size: 9px;}
.texto10{font-size: 10px;}
.texto11{font-size: 11px;}
.texto12{font-size: 12px;}
.texto14{font-size: 14px;}
.texto20{font-size: 20px;}
.t-dosis{font-family: Dosis;}
.t-open{font-family: Open+Sans;}
.centrado{text-align: center;}
.borde-inf{border-style: 2px dotted #333;}
.times{font-family: Times;}
.en-linea{display: inline-block; float: right;}